body{
    margin: 0;
    background-color: gainsboro;
}

/*清除浮动*/
.clearfix:before,
.clearfix:after{
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

/*顶部导航nav样式*/
nav{
    width: 100%;
    height: 70px;
    background-color: #000;
    top: 0px;
    margin-top: 0;
    border: 0;
}
nav .logo{
    height: 60px;
    width: auto;
    float: left;
}
nav ul{
    margin: 0;
}
nav ul li{
    float: right;
    margin: 20px 20px 20px 20px;
}
nav ul li a{
    color: aliceblue;
}

/*article样式*/
article{
    margin: 30px;
    margin-right: 500px;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px 2px darkgray;
    padding: 20px;
    background-color: #ffffff;
}
article header hgroup h3,
article header p{
    color: gray;
}

/*图片样式*/
article .pic{
    width: 200px;
    height: auto;
    border: 1px solid darkgray;
    margin: 20px 0 20px 20px;
    text-align: center;

    float: left;
}
article .pic img{
    width: 80%;
    margin: 0 20px 20px 20px;
}

/*表格样式*/
article table{
    width: 100%;
}
article table tr,
article table tr th,
article table tr td,
article table{
    border: 1px solid darkgray;
    text-align: left;
    border-spacing: 0;
    text-indent: 10px;
}
table tr th{
    background-color: black;
    color: white;
}
table .total{
    border: 0px hidden;
    background-color: darkgray;
    font-weight: bold;
}

/*侧栏样式*/
aside{
    margin: 30px;
    border: 1px solid gray;
    box-shadow: 2px 2px 1px 2px darkgray;
    padding: 20px;
    background-color: #ffffff;

    float: right;
    width: 400px;
}
aside .hint{
    color: darkgray;
}

aside form{
    position: relative;
    height: 100%;
}
aside form button{
    width: 100%;
    height: 40px;
    color: white;
    background-color: cornflowerblue;
    border: 0px;
    border-radius: 10px;
    margin-top: 30px;
}
aside form table{
    border-spacing: 20px 10px;
    width: 100%;
}
aside form table .title{
    text-align: right;
}
aside form table textarea{
    width: 80%;
    height: 100px;
}

/*footer*/
footer{
    background-color: #000;
    width: 100%;
    height: 70px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}
